.return-policy-container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 40px 20px;
    font-family: 'Poppins', sans-serif;
    color: #6c6c6c;
;
}

.return-policy-container h1 {
    text-align: center;
    color: #000; 
    margin-bottom: 2rem;
    font-size: 1.75rem;
    position: relative;
    padding-bottom: 1rem;
    font-weight: 600; 
    font-family: 'Poppins', sans-serif;
}

.return-policy-container h2 {
    color: #000; 
    font-weight: bolder;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.return-policy-container h3 {
    font-weight: bold;
    padding-left: 10px;
}

.return-policy-container p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.return-policy-container ul {
    margin: 0.5rem 0;
    padding-left: 2.5rem;
    list-style-type:disc;
}

.return-policy-container ol {
    margin: 0.5rem 0;
    padding-left: 2.5rem;
    list-style-type:decimal;
}
.return-policy-container li {
    position: relative;
    padding-top: 9px;
}

.yajveerweb{
    color: orange;
}

.yajveerweb:hover{
    color: green;
}

.xyz {
    padding-left: 10px;
}




