.mslide{
    width: 100vw;
    height: 80vh;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.m1 {
    width: 98%;
    height: 90%;
    /* background-color: azure; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bri{
    width: 70%;
    height: 100%;
    background-color: white;
}

.im{
    width: 30%;
    height: 100%;
    /* background-color: red; */
}