.reviews-wrapper {
  padding: 60px 20px;
  background-color: #ffffff;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.reviews-heading {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 50px;
  color: #222;
}

.reviews-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: nowrap;
}

.arrow {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #aaa;
  transition: all 0.3s ease;
  z-index: 1;
}

.arrow:hover {
  color: #333;
  transform: scale(1.3);
}

.review-cards-container {
  display: flex;
  gap: 30px;
  overflow: hidden;
  padding: 10px 0;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1%;
  padding-right: 1%;
}

.review-card {
  background-color: #f9f9f9;
  border-radius: 20px;
  padding: 40px 25px 60px;
  /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05); */
  text-align: center;
  width: 320px;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 6px 10px rgb(178, 177, 177);
}

.review-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 10px rgb(178, 177, 177);
}

.review-text {
  font-size: 1rem;
  color: #555;
  font-style: italic;
  margin-bottom: 40px;
  line-height: 1.6;
  position: relative;
}

.review-text::before {
  content: "❝";
  font-size: 2rem;
  color: #d5d5d5;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.user-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.user-name {
  margin-top: 20px;
  font-size: 1.05rem;
  font-weight: 700;
  color: #222;
}

.user-rating {
  margin-top: 10px;
  font-size: 1rem;
  color: #fbbf24;
}

/* Responsive */
@media (max-width: 1024px) {
  .review-cards-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .review-card {
    width: 45%;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .review-card {
    width: 90%;
  }

  .arrow {
    display: none;
  }
}


